<!-- <h1>pagina para de confirmación de llenado de datos</h1> 
<div class="mb-3" style="text-align: center; font-style: italic;">  
    <h2>Ingrese Producto</h2> 
        <form action="/api/productos" method="POST"> 
            ID: <input class="form-control" type="number" name="id" placeholder="Digite identificador #" onclick="agregar();">
            Price: <input class="form-control" type="number" name="price" placeholder="Digite el precio" onclick="agregar();" >
            Thumbnail: <input class="form-control" type="text" name="thumbnail" placeholder="Digita la URL del proucto" onclick="agregar();">
            <button>Enviar</button> 
        </form>
</div> 
<script> 

</script> -->